@font-face {
    font-family: 'JennaSue';
    src: url(../assets/Painterz.ttf);
}

body{
    background-image:url(../assets/tileBG.png);
    background-repeat:repeat;
}

.hidden{
 display:none;
}

#holder{
    text-align:center;
    padding-top:50px;
}

#dedi{
    width:800px;
    margin-bottom: 20px;
}

.vignette{
    -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.6);
}